/*
    Fix color of active navbar link.
    Bootstrap expects the li element to have class active,
    but with NavLink the anchor element will have the active class
*/
.navbar-inverse .navbar-nav > li > a.active,
.navbar-inverse .navbar-nav > li > a.active:hover,
.navbar-inverse .navbar-nav > li > a.active:focus {
    color: #fff;
    background-color: #080808;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:hover,
.navbar-default .navbar-nav > li > a.active:focus {
    color: #555;
    background-color: #e7e7e7;
}

.form-inline > * {
    margin-right: 3px;
}

.show-all-players-label {
    font-weight: normal;
    margin-bottom: 0px;
}